@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

ul, li, h1, p {
  list-style-type: none;
  font-family: 'Scope One', serif;
  font-weight: 200;
}

span, h2, h3, h4 {
  font-family: 'Shippori Antique B1', sans-serif;
  list-style-type: none;
}

div {
  list-style-type: none;
}

.CustomLink {
  font-family: 'Shippori Antique B1', sans-serif;
  list-style-type: none;
}

.notdisplayed {
  display: none;
}

.displayed {
  display: flex;
  margin: auto;
}

